@include module('contact') {

  @include element('content') {
    position: relative;
    padding: 30px;
    margin:auto;
    top:25%;
    z-index:50;
    text-align:center;

    @include breakpoint($tablet) {
      width:700px;
    }
  }

  @include element('h2') {
    font-family: 'gotham_bookregular';
    font-weight:normal;
    text-transform: uppercase;
    font-size:1.8em;
    color:white;
    margin: 0;
  }

  @include element('p') {
    font-family: 'gotham_bookregular';
    font-size:1em;
    line-height:2.2;
    color:white;
    padding:0 0 20px 0;

    @include modifier('bold') {
      font-family: 'gotham_bookregular'
    }
  }

  @include element('a') {
    font-family: 'gotham_bookregular';
    font-size:1em;
    line-height:2.2;
    color:white;
    padding:0 0 20px 0;
    text-decoration: none;
  }
}

.test-gradient {
  background: linear-gradient(to right, #3b8686 0%,#164e4e 100%);
}
