@include module('navigation') {

  @include breakpoint($desktop) {
    float: right;
  }

  @include element('ul') {
    padding: 30px 0 0 0;
    margin: 0;

    @include breakpoint($desktop) {
      padding: 6px 0 0 0;
    }
  }

  @include element('item') {
    display: block;
    float: left;
    width:50%;

    @include breakpoint($desktop) {
      float: left;
      display: inline;
      width: auto;
    }
  }

  @include element('link') {
    font-family: 'gotham_bookregular';
    text-decoration: none;
    color:$blueDark;
    text-transform: uppercase;
    font-size:.8em;
    border:2px solid white;
    padding:7px 12px;
    color:$body;
    width: 100%;
    display: block;
    text-align: center;

    @include breakpoint($desktop) {
      display:block;
    }

    &:hover {
      background: $blue;
      color:#fff;
    }

    @include modifier('thick') {
      font-family: 'gotham_boldregular';
    }
  }
}
