@include module('section') {
  position: relative;
  margin: 0;
  padding: 0;
  height:550px;

  @include modifier('introduction') {
    text-align: center;

    @include breakpoint($tablet) {
      height:500px;
    }
  }

  @include modifier('about') {
    background: $blue;
    min-height: 1000px;

    @include breakpoint($tablet) {
      height:650px;
    }
  }

  @include modifier('collective') {
    background: $toothpaste;
    height:1500px;

    @include breakpoint($tablet) {
      height:750px;
    }
  }

  @include modifier('contact') {
    background: $red;
    height: 750px;
  }

  @include element('svg') {
    position: absolute;
    left:0;
    top:0;
    margin: 0;
    padding: 0;

    @include modifier('hide-on-mobile') {

      display:none;
      @include breakpoint($tablet) {
          display:block;
      }
    }
  }
}
