@include module('section') {
  position: relative;
  margin: 0;
  padding: 30px 0;

  @include modifier('introduction') {
    text-align: center;
    height: 300px;

    @include breakpoint($tablet) {
      height:500px;
    }
  }

  @include modifier('about') {
    background: $blue;

    @include breakpoint($tablet) {
      height:650px;
    }
  }

  @include modifier('collective') {
    background: $toothpaste;

    @include breakpoint($tablet) {
      height:750px;
    }
  }

  @include modifier('contact') {
    background: $red;

	@include breakpoint($tablet) {
	  height:550px;
	}
  }
}
