@include module('svg') {
  position: absolute;
  left:0;
  top:0;
  margin: 0;
  padding: 0;

  &--about {
	height:700px;
  }

  &--collective {
	height:760px;
  }

  &--contact {
	height:550px;
  }

  @include modifier('hide-on-mobile') {
	display:none;
	@include breakpoint($tablet) {
	  display:block;
	}
  }

  @include element('polygon') {

    @include modifier('lighter-blue') {
      fill: #075887;
      stop-color: #075887;
      stop-opacity:1;
      opacity: 0.3;
    }

    @include modifier('blue') {
      fill: $blue;
      stop-color: $blue;
      stop-opacity:1
    }

    @include modifier('dark-blue') {
      fill: $blueDark;
      stop-color: $blueDark;
      stop-opacity:1
    }

    @include modifier('darker-blue') {
      fill: $blueDarker;
      stop-color: $blueDarker;
      stop-opacity:1
    }

    @include modifier('darkest-blue') {
      fill: $blueDarkest;
      stop-color: $blueDarkest;
      stop-opacity:1
    }

    @include modifier('dark-toothpaste') {
      fill: $toothpasteDark;
    }

    @include modifier('darker-toothpaste') {
      fill: $toothpasteDarker;
    }

    @include modifier('darkest-toothpaste') {
      fill: $toothpasteDarkest
    }

    @include modifier('dark-red') {
      fill: $redDark;
    }

    @include modifier('white') {
      fill: #fff;
    }

    @include modifier('hide-on-mobile') {
      display:none;
      @include breakpoint($tablet) {
        display:block;
      }
    }
  }
}
