// Blues
$blue:        #0b486b;
$blueDarker:  #052e4c;
$blueDark:    #031f38;
$blueDarkest: #031626;

// Toothpaste
$toothpaste:        #3b8686;
$toothpasteDarker:  #246666;
$toothpasteDark:    #164e4e;
$toothpasteDarkest: #082929;

// Green
$green:        #767214;
$greenDarker:  #474710;

// Red
$red:           #863b3b;
$redDark:       #662424;

// Text
$body:        $blue;
