// Blues
$blue:        #3772b7;
$blueDarker:  #275997;
$blueDark:    #1c4982;
$blueDarkest: #031626;

// Toothpaste
$toothpaste:        #3b8686;
$toothpasteDarker:  #246666;
$toothpasteDark:    #164e4e;
$toothpasteDarkest: #082929;

// Green
$green:        #767214;
$greenDarker:  #474710;

// Red
$red:           #863b3b;
$redDark:       #662424;

// Text
$body:        $blueDarkest;
